<?xml version="1.0" encoding="UTF-8"?>
<menu>

	<item>
		<label>Publicidade</label>
		<href>#</href>
		<token>publicidade</token>
		<item>
			<label>Roteiro de Veiculação</label>
			<href>home.php?action=publicidadeVeiculacao</href>
		</item>
		<item>
			<label>Cadastro de Imagens</label>
			<href>home.php?action=publicidadeImagens</href>
		</item>
		<item>
			<label>Check-In Fotografico</label>
			<href>home.php?action=publicidade_checkin</href>
		</item>
		<item>
			<label>Resumo</label>
			<href>home.php?action=publicidade_andamento</href>
		</item>

	</item>

	<item>
		<label>Manutenção</label>
		<href>#</href>
		<token>OrdensServico</token>
		<item>
			<label>Nova Não-Conformidade</label>
			<href>home.php?action=ocorrencias_edit&amp;id_ocorrencia=0</href>
		</item>
		<item>
			<label>Ocorrências em Aberto</label>
			<href>home.php?action=ocorrencias</href>
		</item>
		<item>
			<label>Ordens de Serviço</label>
			<href>home.php?action=oss</href>
		</item>
		<!--
		<item>
			<label>Relatórios</label>
			<href>#</href>
		</item>
		-->
	</item>

	<item>
		<label>Vistorias</label>
		<href>#</href>
		<token>Vistorias</token>
		<item>
			<label>Listagem</label>
			<href>home.php?action=vistorias</href>
		</item>
		<item>
			<label>Itens de Vistoria</label>
			<href>home.php?action=vistoriasItens</href>
		</item>
		<!--
		<item>
			<label>Relatórios</label>
			<href>#</href>
		</item>
		-->
		<item>
			<label>Resumo</label>
			<href>home.php?action=vistorias_andamento</href>
		</item>
	</item>

	<item>
		<label>Pontos de Parada</label>
		<href>#</href>
		<token>PontosParada</token>
		<item>
			<label>Cadastros</label>
			<href>home.php?action=pontos</href>
		</item>
		<item>
			<label>Roteiros</label>
			<href>home.php?action=roteiros</href>
		</item>
		<item>
			<label>Mapa</label>
			<href>home.php?action=pontosMapa</href>
		</item>
	</item>

	<item>
		<label>Equipes</label>
		<href>home.php?action=equipes</href>
		<token>Equipes</token>
	</item>

	<item>
		<label>Cadastros Auxiliares</label>
		<href>#</href>
		<token>CadastrosAuxiliares</token>
		<item>
			<label>Status de Pontos</label>
			<href>home.php?action=pontosStatus</href>
		</item>
		<item>
			<label>Tipos de Pontos</label>
			<href>home.php?action=pontosTipo</href>
		</item>
		<item>
			<label>Padrões de Pontos</label>
			<href>home.php?action=pontosPadrao</href>
		</item>

		<!--
		<item>
			<label>Inclinações</label>
			<href>home.php?action=inclinacoes</href>
		</item>
		<item>
			<label>Interferências</label>
			<href>home.php?action=interferencias</href>
		</item>
		<item>
			<label>Limites de Terrenos</label>
			<href>home.php?action=limiteTerreno</href>
		</item>
		<item>
			<label>Pisos da Calçada</label>
			<href>home.php?action=pisoCalcada</href>
		</item>
		-->

		<item>
			<label>Administrações Regionais</label>
			<href>home.php?action=regionais</href>
		</item>
		<item>
			<label>Bairros</label>
			<href>home.php?action=bairros</href>
		</item>
		<item>
			<label>Zonas</label>
			<href>home.php?action=zonas</href>
		</item>
	</item>

	<item>
		<label>Sistema</label>
		<href>#</href>
		<token>Sistema</token>
		<item>
			<label>Relatório Geral</label>
			<href>home.php?action=relatorio_geral</href>
		</item>
		<item>
			<label>Perfis de Acesso</label>
			<href>home.php?action=perfis</href>
		</item>
		<item>
			<label>Usuários do Sistema</label>
			<href>home.php?action=users</href>
		</item>
		<item>
			<label>Rastrear Celulares</label>
			<href>home.php?action=devicesMapa</href>
		</item>
		<item>
			<label>Backup</label>
			<href>home.php?action=make_backup</href>
		</item>
	</item>

	<item>
		<label>Desenvolvimento</label>
		<href>#</href>
		<token>Desenvolvimento</token>
		<item>
			<label>Executar Query</label>
			<href>home.php?action=exec_query</href>
		</item>
	</item>

	<item>
		<label>#USER#</label>
		<href>#</href>
		<item>
			<label>Meus Dados</label>
			<href>home.php?action=mydata</href>
		</item>
		<item>
			<label>Alterar Senha</label>
			<href>home.php?action=changepass</href>
		</item>
		<item>
			<label>Sair</label>
			<href>index.php</href>
		</item>
	</item>

</menu>